<p>error-page works!</p>
<h1>Auth routing</h1>
<ul>
    <li>
        <a routerLink="/auth/login">Log In</a>
    </li>
    <li>
        <a routerLink="/auth/signup">Sign Up</a>
    </li>
</ul>

<h1>Heros routing</h1>

<ul>
    <li>
        <a routerLink="/heros/list">Heros list</a>
    </li>
    <li>
        <a routerLink="/heros/create">Create Hero</a>
    </li>
    <li>
        <a routerLink="/heros/edit/:id">Edit Hero</a>
    </li>
    <li>
        <a routerLink="/heros/search">Search Hero</a>
    </li>
    <li>
        <a routerLink="/heros/:id">Heroe</a>
    </li>
</ul>
